.WebContainer {
width: 100px; 
}
body {
             margin: 15px; 
             font-family: Nunito; 
             background-color : #8796D1;
       
}
div.a {
         border : 2px solid white; 
         border-radius : 25px; 
         background-color : rgba(0, 0, 0, 0.2);
         box-shadow : 10px 10px 5px -5px #74656F;                  
         margin: 5px; 
         width: 300px; 
         height : 1150px; 
         padding : 10px; 
       
         }
div.b {
	       border-radius : 25px;
	        background-color : #FFFFFF; 
           box-shadow : 10px 10px 5px -5px #74656F ;
           margin: 5px; 
         width: 280px; 
         height : 800px; 
         padding : 6px; 
	       
	}
	.c {
		color : red; 
		}
		.d {
			display: block;
           text-align: center; 
			}
input[type=text], input[type=submit], input[type=number], input[type=password], input[type=radio] {
  background-color:  #8796D1;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px; 
}
p {
	height : 150px; 
	}
		